* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
}

li {
  font-size: 1em;
}

ul {
  list-style: none;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(42, 112, 204);
}

button:hover {
  background-color: rgb(44, 96, 163);
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: rgb(245, 245, 245);
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(16, 30, 228);
  font-size: 2.45em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: rgb(16, 30, 228);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: white;
}

#hero button {
  font-size: 1.75em;
}

#somos-Scientia .container {
  text-align: center;
  padding: 200px 12px;
}

#Caracteristicas {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#Caracteristicas .container {
  padding: 150px 0;
}

#Caracteristicas h2 {
  margin-top: 0;
  font-size: 3em;
}

#Caracteristicas p {
  display: none;
}

#Caracteristicas .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../img/uno.png");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../img/dos.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../img/tres.jpg");
}

#Funcionalidades .container {
  text-align: center;
  padding: 100px;
}

#Funcionalidades li {
  margin: 16px 0;
  font-weight: bold;
}

#busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 20vh;
}

#busqueda h2 {
  font-size: 15vw;
}

#busqueda button {
  font-size: 22px;
}

footer {
  background-color: rgb(230, 230, 230);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1 {
    font-size: 4em;
  }

  #somos-Scientia .container {
    display: flex;
    justify-content: space-evenly;
  }

  #somos-Scientia .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #somos-Scientia h2 {
    margin-top: 0;
  }

  #somos-Scientia.img-container {
    background-image: url("../img/org.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }

  #Caracteristicas .caracteristicas {
    display: flex;
    justify-content: center;
  }

  #Caracteristicas p {
    display: block;
    margin-bottom: 30px;
  }

  #Caracteristicas .carta {
    padding: 50px;
  }

  #Caracteristicas h3 {
    margin-top: 0;
  }
}
